body{
    background-color: #080414;
}

canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    left: 50%;
    height: 90%;
    transform: translateY(10vh);
}